---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Tags from "../../components/ui/Tags.astro";
import Button from "./Button.astro";
const projects = await getCollection("projects");
---

{
  projects.map((project) => (
    <section class="md:w-1/2 w-3/4 p-4">
      <article class=" bg-accent1 p-3">
        <div class="hover:scale-105 hover:transform relative flex items-end overflow-hidden duration-100">
          {/* <a href={project.data.urls.site} aria-label="link to project">
            <Image
              src={project.data.cover}
              alt={project.data.coverAlt}
              format="png"
              width={400}
              height={400}
              loading="eager"
            />
          </a> */}
          <a href={project.data.urls.github} aria-label="link to project">
            <Image
              src={project.data.cover}
              alt={project.data.coverAlt}
              format="png"
              width={400}
              height={400}
              loading="eager"
            />
          </a>
        </div>
        <div class="p-2 mt-1">
          <h3 class="text-text font-heading w-full mb-2 text-xl">
            {project.data.title}
          </h3>
          <p class="text-secondtext font-body text-sm">
            {project.data.description}
          </p>
          <Tags tags={project.data.tags} />
        </div>
        <div class="flex flex-row justify-start gap-4">
          {/* <Button
            target="_blank"
            href={project.data.urls.site}
            aria-label="link to project"
            style={"primary"}
            size={"sm"}
            class={"flex"}
            name="projects"
          >
            Site
          </Button> */}
          <Button
            target="_blank"
            href={project.data.urls.github}
            style={"primary"}
            size={"sm"}
            class={"flex"}
            name="projects"
          >
            Code
          </Button>
        </div>
      </article>
    </section>
  ))
}
